:root {
    --main-font: font-family: 'Roboto', sans-serif;
    --secondary-font: font-family: 'Raleway', sans-serif;
    --main-color:  #2196F3;
}

body {

    font-family: var(--main-font);
}


/* =======HEADER====== */
.navigation_link {

    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1,192;
        /* identical to box height */
    
        letter-spacing: 0.03em;
    
        color: #2196F3;
}
.nav_list_link {

    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1,142;
        letter-spacing: 0.02em;
    
        color: #212121;
}

.nav_list_link:hover,
.nav_list_link:focus,
.contacts_link:hover {
    color: var(--main-color)
}
.contacts_link {

    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1,142;
        letter-spacing: 0.02em;
    
        color: #757575;
}

/* =======END HEADER====== */